* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    font-size: 18px;
}

#container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

header {
    grid-column: 1 / 4;
    background-color: #b9dbff;
    padding: 25px;
    text-align: center;
}

header h2 {
    font-size: 30px;
}

.about {
    grid-column: 1 / 4;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 11px 5px 19px -9px rgba(19, 84, 124, 0.40);
    font-size: 18px;
    line-height: 1.6;
}

.llista {
    grid-column: 1 / 4;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 11px 5px 19px -9px rgba(19, 84, 124, 0.40);
}

.card {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

.card:hover {
    background-color: #e8f0f9;
    border: 2px solid black;
    transition: background-color 0.5s;
    cursor: grab;
}

.card img {
    width: 100%;
    max-width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.link {
    grid-column: 1 / 4;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 11px 5px 19px -9px rgba(19, 84, 124, 0.40);
}

.link a {
    color: blue;
    text-decoration: none;
}

.link li {
    margin: 15px;
}

.link a:hover {
    text-decoration: underline;
}

.mainphoto {
    grid-column: 1 / 4;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 11px 5px 19px -9px rgba(19, 84, 124, 0.40);
    border: 25px solid rgb(76, 162, 201);
}

.mainphoto h3 {
    font-size: 24px;
}

.mainphoto img {
    width: 80%;
    max-width: 900px;
    height: auto;
    object-fit: contain;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}

footer {
    grid-column: 1 / 4;
    background-color: #b9dbff;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}